In [2]:
import pandas as pd

countries_data = pd.read_csv('./data/countries.csv', sep=";") 

countries_data.to_csv('data/countries.txt',index=False, sep=' ')

In [5]:
txt_df = pd.read_table('./data/countries.txt', sep=' ', index_col=['country'])
display(txt_df)

           population      area
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902